page-login {
.background-adjustments {
	background-color: #205f76;
	color:white;
}

.adjust-button{
	color:#0058b6 !important;
	background-color:white !important;
	width:80%;
	margin:0 auto;
}

.red-color{
	color:red !important;
}

.margin-bottom{
	padding-top:20px !important;
}
}
