page-signup {
.background-adjustments *{
	background-color: #205f76;
	color:white;
}



*{
	color: blue;
}


.adjust-button{
	color:#0058b6 !important;
	width:80%;
	margin:0 auto;
	background-color:white;
}
.button-inner{
	background-color:white !important;
		color:#0058b6 !important;

}
}
